body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}
.dark-mode .spl {
	color: white;
}

.container {
	max-width: 960px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #67d7cc;
}

.new input{
	border: none;
	border-bottom: 1px solid #36605c;
	background-color: #67d7cc;
	font-family: monospace;
	padding: 0px 0px 5px 0px;
	margin-bottom: 10px;
}

input:focus{
	outline: none;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 230px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	white-space: pre-wrap;
}

.note .text{
	font-size: 15px;
}

.title{
	font-weight: 700;
}

.over-flow{
	max-height: 170px;
	overflow-y: scroll;
	&::-webkit-scrollbar{
		display: none;
	}
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.note-footer:last-of-type{
	margin-top: auto;
}

.edit .note-footer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.edit .note-footer small:first-of-type{
	margin-right: auto;
}


.edit-icon, .delete-icon {
	cursor: pointer;
	display: block;
}

.edit-container, .delete-container {
  position: relative;
  display: inline-block;
}


.edit-text, .delete-text {
  position: absolute;
  bottom: -15px; /* Adjust this value to control the space between icon and text */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 2s ease;
  font-family: monospace;
  background-color: #585858;
  border-radius: 5px;
  color: white;
}

.edit-text.visible {
  opacity: 1;
}
.delete-text.visible {
	opacity: 1;
}
.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 1.5em;
}

.search input {
	margin-left: 10px;
	font-family: monospace;
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}